<div class="album-container--wrapper">
	{{#each albums}}
	<a href="/album/{{id}}">
		<div class="album-container" id="{{id}}">
			<img src={{artwork.url}} />
			<span>
				<h2>{{name}} ({{releaseYear}})</h2> 
				<h4>by {{joinArtistNames artists ", "}}</h4>
			</span>
		</div>
	</a>
	{{/each}}
</div>
