<div class="back-to-results"><a href="{{searchUrl}}"><i class="fa fa-arrow-left"></i> Back to results</a></div>
<div class="album-details-container--wrapper">
	<div class="album-details--title-container">
		<h2 class="album-details--title">{{album.name}}</h1>
		<h3 class="album-details--subtitle">{{joinArtistNames album.artists ", "}} · {{album.releaseYear}} · {{album.totalTracks}} tracks</h2>
	</div>
	<div class="album-details--content-container">
		<div class="album-details-column" id="album-details-column--artwork">
			<img src={{album.artwork.url}} />
		</div>
		<div class="album-details-column" id="album-details-column--tracklist">
			<ol>
			{{#each album.tracks}}
				<li id="{{id}}">{{name}}</li>
			{{/each}}
			</ol>
		</div>
	</div>
	<form action="/generate">
  		<button type="submit" class="generate-bracket-btn">Generate bracket</button>
	</form>
</div>